@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  /* 드래그 방지 */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* 드래그 허용 CSS */
.draggable {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
@layer base {
  /* font */
  /* 던파 비트비트체 v2 */
  @font-face {
    font-family: "DNFBitBitv2";
    font-style: normal;
    font-weight: 400;
    src: url(./fonts/woff/DNFBitBitv2.woff) format("woff");
  }

  /* 갈무리 시리즈 (목업 기준 11, 14 사용) */
  @font-face {
    font-family: "Galmuri11";
    font-style: normal;
    src: url(./fonts/woff/Galmuri11.woff) format("woff"),
      url(./fonts/woff/GalmuriMono11.woff) format("woff");
  }

  @font-face {
    font-family: "Galmuri11-Bold";
    font-style: normal;
    src: url(./fonts/woff/Galmuri11-Bold.woff) format("woff");
  }

  @font-face {
    font-family: "Galmuri14";
    font-style: normal;
    src: url(./fonts/woff/Galmuri14.woff) format("woff");
  }

  @font-face {
    font-family: "Galmuri7";
    font-style: normal;
    src: url(./fonts/woff/Galmuri7.woff) format("woff"),
      url(./fonts/woff/GalmuriMono7.woff) format("woff");
  }

  @font-face {
    font-family: "Galmuri9";
    font-style: normal;
    src: url(./fonts/woff/Galmuri9.woff) format("woff"),
      url(./fonts/woff/GalmuriMono9.woff) format("woff");
  }

  html {
    font-family: "Galmuri11";
    font-size: 1rem;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
